body {
  background-image: url(https://wallpaperaccess.com/full/1116474.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 160%;
}

p {
  color: #9EECFF;
}

h1 {
  color: #9EECFF;
}
